### Для идентификации
SECRET_KEY=my_secret

### Для БД Postgress
DATABASE_URL_PS=postgresql+asyncpg://user:password@postgres/mydb
DATABASE_URL_ALEMBIC=postgresql://user:password@postgres:5432/mydb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

### Для БД Redis
REDIS_URL=redis://redis:6379/0

### Для LLM
LLM_CLIENT=ollama
LLM_OLLAMA_ADRES=http://host.docker.internal:11434/api/chat
LLM_OLLAMA_MODEL=mistral